<div class="SignInPage"
style="
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: rgb(1, 108, 134);
"
>
    <h1 style="margin-bottom: 2.5rem; color: rgb(238, 94, 27);">Sign In Page</h1>

    <input type="text" placeholder="Username" 
    style="
    margin-bottom: 1rem;
    width: 13rem;
    height: 1.5rem;
    font-size: 1.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    ">
    <input type="password" placeholder="Password"
    style="
    margin-bottom: 1.5rem; 
    width: 13rem;
    height: 1.5rem;
    font-size: 1.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    ">

    <button 
    style="
    cursor: pointer;
    width: 9rem;
    height: 1.5rem;
    background-color: rgb(238, 94, 27);
    border: 2px solid rgb(238, 94, 27);
    color: black;
    font-weight: bold;
    margin-bottom: 1rem;
    "
    onmouseover="this.style.backgroundColor='rgb(1, 108, 134)'; this.style.color='rgb(238, 94, 27)'"
    onmouseout="this.style.backgroundColor='rgb(238, 94, 27)'; this.style.color='black'"
    (click)="signIn()"
    >login</button>

    <button
    style="
    background-color: transparent;
    border: 2px solid rgb(1, 108, 134);
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    "
    onmouseover="this.style.border='2px solid black'"
    onmouseout="this.style.border='2px solid rgb(1, 108, 134)'"
    (click)="forgotPasswordClicked()"
    >Forgot Password?</button>

</div>