<div class="SignInPage"
style="
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: rgb(1, 108, 134);
"
>
    <h1 style="margin-bottom: 2.5rem; color: rgb(238, 94, 27);">Forgot Your Password?</h1>

    <input type="email" placeholder="Email" 
    #EmailInput
    (input)="updateEmail(EmailInput.value)"
    [value]="email"
    style="
    margin-bottom: 1rem;
    width: 13rem;
    height: 1.5rem;
    font-size: 1.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    ">
    <input type="text" placeholder="New Password"
    #NewPassword
    (input)="updateNewPassword(NewPassword.value)"
    [value]="newPassword"
    style="
    margin-bottom: 1rem; 
    width: 13rem;
    height: 1.5rem;
    font-size: 1.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    ">

    <input type="text" placeholder="Confirm Password"
    #ConfirmPassword
    (input)="updateConfirmPassword(ConfirmPassword.value)"
    [value]="confirmPassword"
    style="
    margin-bottom: 1.5rem; 
    width: 13rem;
    height: 1.5rem;
    font-size: 1.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    ">

    <button 
    style="
    cursor: pointer;
    width: 9rem;
    height: 1.5rem;
    background-color: rgb(238, 94, 27);
    border: 2px solid rgb(238, 94, 27);
    color: black;
    font-weight: bold;
    margin-bottom: 1rem;
    "
    onmouseover="this.style.backgroundColor='rgb(1, 108, 134)'; this.style.color='rgb(238, 94, 27)'"
    onmouseout="this.style.backgroundColor='rgb(238, 94, 27)'; this.style.color='black'"
    (click)="attemptReset()"
    >Change</button>

    <h3 style="color: red">{{error}}</h3>

    <app-third-screen
    *ngIf="changeConfirmed"
    style="
    position: absolute;
    z-index: 1;
    "></app-third-screen>

</div>